<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h1>Hi!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h2>Why do you want to work at Basecamp?</h2>
				<p>Copy here...</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h2>What am I interested working on?</h2>
				<p>Copy here...</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h2>Why should Basecamp hire me?</h2>
				<p>Copy here...</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<h2>Why shouldn't Basecamp hire me?</h2>
				<p>Copy here...</p>
			</div>
		</div>
	</div>
</div>
