=<div class="container-fluid">
  <br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center my-work">My Work</h1>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6 col-md-offset-3 scrive">
      <a href="http://www.scrive.link/landing" target="_blank"><img src="/assets/scrive.png" class="img-responsive img-thumbnail", alt="Responsive image"></a>
    </div>
  </div><!-- end of scrive -->
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 facilcorp">
      <a href="http://www.facilcorp.co/" target="_blank"><img src="/assets/facilcorp.png" class="img-responsive img-thumbnail" alt="Responsive image"></a>
    </div>
  </div><!-- end of facilcorp -->
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 dailyvee">
      <a href="http://www.dailyveesoundtrack.com/" target="_blank"><img src="/assets/dailyvee.png" class="img-responsive img-thumbnail" alt="Responsive image"></a>
    </div>
  </div><!-- end of dailyvee -->
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 textandgrub">
      <a href="http://www.textandgrub.com/" target="_blank"><img src="/assets/textandgrub.png" class="img-responsive img-thumbnail" alt="Responsive image"></a>
    </div>
  </div><!-- end of text&grub -->
  <hr>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 textandgrub">
      <a href="http://www.hsrac.com/" target="_blank"><img src="/assets/hsrac.png" class="img-responsive img-thumbnail" alt="Responsive image"></a>
    </div>
  </div><!-- end of text&grub -->
</div>