.hero {
	background-color: #F6F7F8;
	padding: 100px;
	h1 {
		text-align: center;
		font-size: 70px;
	}
	.logo {
	  font-family: 'Roboto', sans-serif;
	  a {
	  	color: #856EC6;
	  	text-decoration: none;
	  }
	}
}

p {
	margin: 0 0 10px;
	font-size: 15px;
	line-height: 40px;
}

h2 {
	margin-top: 50px !important;
}

