/*** Type ***/

.content h1 {
	font-size: 48px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

.content h2 {
	font-size: 36px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

.content p {
	font-size: 18px;
	font-family: 'Gentium Basic', serif;
	color: #3A4145;
}

.link a {
	color: #908AFA;
	&:hover {
		color: #7974D1;
		text-decoration: none;
	}
}

/*** Social Media ***/

.social-icons .list-inline li {
  padding-right: 20px;
}

.social-icons .list-inline a {
  color: black;
}

.social-icons .twitter a:hover {
  color: #1da1f2;
}

.social-icons .instagram a:hover {
  color: #074d7d;
}

.social-icons .github a:hover {
  color: #3fde16;
}

.social-icons .medium a:hover {
  color: #00ab6b;
}

.social-icons .fa-2x {
  font-size: 1.5em;
}

/*** Media Queries ***/

/* Screens between 375px and 667px */
@media only screen and (min-width: 375px) and (max-width: 667px) {
	.content {
		margin-top: 140px;
	}
}

/* Screens between 414px and 736px */
@media only screen and (min-width: 414px) and (max-width: 736px) {
	.content {
		margin-top: 170px;
	}
}

/* Screens between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.content {
		margin-top: 350px;
	}
}

/* Screens larger than 1240px*/
@media only screen and (min-width: 1240px) {
	.content {
		margin-top: 200px;
	}
}

/* Screens between 1293px and 1440px */
@media only screen and (min-width: 1293px) and (max-width: 1440px) {
	.content {
		margin-top: 500px;
	}
}

/* Screens between 2328px and 2560px */
@media only screen and (min-width: 2328px) and (max-width: 2560px) {
	.content {
		margin-top: 1000px;
	}
}