/*** Type ***/

.vertical-center {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.content h1 {
	font-size: 48px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

.content h2 {
	font-size: 36px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

.content p {
	font-size: 18px;
	font-family: 'Gentium Basic', serif;
	color: #3A4145;
	line-height: 40px;
}

.link a {
	color: #908AFA;
	&:hover {
		color: #7974D1;
		text-decoration: none;
	}
}

/*** Social Media ***/

.social-icons .list-inline li {
  padding-right: 20px;
}

.social-icons .list-inline a {
  color: black;
}

.social-icons .twitter a:hover {
  color: #1da1f2;
}

.social-icons .instagram a:hover {
  color: #074d7d;
}

.social-icons .github a:hover {
  color: #3fde16;
}

.social-icons .medium a:hover {
  color: #00ab6b;
}

.social-icons .fa-2x {
  font-size: 1.5em;
}

/*** Media Queries ***/

/* Screens smaller than 1280px*/
@media only screen and (max-width: 1280px) {
	.content {
		padding-top: 50px;
	}
}

