.my-work {
  letter-spacing: 5px;
  font-size: 50px;
}


hr {
  width: 80%;
}

.ondek a:hover img {
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
	-webkit-transition: box-shadow .15s ease-in-out;
	transition: box-shadow .15s ease-in-out;
}

.scrive {
	text-align: center;
}
