.top-links {
  padding: 20px;
  color: white;
}

.top-links ul {
  display: table-row;
}

.top-links ul li {
  display: table-cell;
  height: 100px;
  width: 100px;
  list-style-type: none;
  margin: 10px;
  vertical-align: middle;
}

.top-links ul li h4 a {
  color: white;
  text-decoration: none;

}

.top-links ul li h4 a:hover {
  color: #c9b6ff;
  text-decoration: none;
  
}

.top-links img {
  margin-left: -35px;
}
