.hero-image {
	background-color: #F4F4F4;

	.img-responsive {
		max-width: 350px;
	}
}

/*** Type ***/

.content-section h1 {
	font-size: 48px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

.content-section h2 {
	font-size: 36px;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	color: #404040;
}

.content-section p {
	font-size: 18px;
	font-family: 'Gentium Basic', serif;
	color: #3A4145;
}

.content-section h5 {
	margin-top: 40px;
}

.content-section img {
	padding-bottom: 40px;
}



